/*Selector {
	Property: value;
}*/

* {
	text-align: right;
}

body {
	background-image: url(https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=1339&q=80);
	background-size: cover;
}

p {
	color: black !important;
}

h2, li, p{
	color: #AA3939;
	text-align: center;
	border: 5px solid rgb(34, 102, 102, 0.6);
	cursor: pointer;
}

p:hover {
	color: #801515;
}

li {
	list-style: none;
	display: inline-block;
	color: #7B9F35;
}

.webtext:first-child {
	border: 3px dashed #550000;
}

.active {
	color: #003333;
}

#div1 {
	background: rgb(170, 108, 57, 0.5);
}

#div2 {
	background: rgb(136, 45, 96, 0.5);
}

nav ul {
	text-align: left;
}

/*harddd
element > element
*/

h2 + p {
	text-align: left;
}